.container{
    display: flex;
    justify-content: space-evenly;
    
}

.inputcontainer{
   background-color: antiquewhite;
   display: flex;
   flex-direction: column;
   gap: 10px;
   position: fixed;
   width: 100%;
   height: 100%;

   top: 0;
   left: 0;
   overflow: scroll;

}

.inputcontainer input{
    width: 500px;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
}
.inputcontainer button{
    width: 100px;
     margin: 0 auto;
     font-size: 20px;
}
.inputcontainer p{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.multiple{
    background-color: red;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
}
.addData{
    color: red;
      position: fixed;
    z-index: 4;
    top: 10px;
    left: 10px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 18px;
    font-weight: 700;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
border-bottom: 2px solid silver;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

}